
.container {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
   border: 5px ridge orange;
  padding: 10px; /* Adjust padding as needed */
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px 0; /* Adjust margin as needed */
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px; /* Adjust margin as needed */
  flex: 1; /* Allows items to expand horizontally */
  text-align: center; /* Centers text within the item */
}

.text {
  colour: #ebe5d5;
  margin-bottom: 5px; /* Adjust spacing between text and image */
}

.icons {
 height: 60px;
 width: 60px;
}

.titles {
colour: #ebe5d5;
text-align: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-container img {
  max-width: 30%; /* Adjust as needed */
  height: auto;
}
